@page "/addcalendarevent"
@using MyApplication.Client.Models
@inject NavigationManager NavigationManager


<h3>Add Calendar Event</h3>

<MudTextField @bind-value="newTitle" Label="Title" Style="@($"color: {_titleColor};")" Variant="Variant.Outlined" />
<MudColorPicker Label="Title Color" @bind-Text="_titleColor" Style="@($"color: {_titleColor};")" Placeholder="Select Color" ColorPickerView="ColorPickerView.GridCompact" />
<MudTextField @bind-value="newDescription" Label="Description" Variant="Variant.Outlined" Lines="3" />

<MudGrid>
    <MudItem xs="6">
        <MudDatePicker Label="Date:" Editable="true" @bind-Date="_date" DateFormat="dd-MM-yyyy" />
    </MudItem>
    <MudItem xs="6">
        <MudTimePicker Label="Time:" Editable="true" @bind-Time="_time" />
    </MudItem>        
</MudGrid>

<MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="AddItem">Add Item</MudButton>
<MudText Class="mb-4">Id of last item: @idOfLastItem</MudText>

@inject HttpClient Http
@code {
    private int idOfLastItem = 0;
    private string newTitle = string.Empty;
    private string _titleColor = "#db1f1fff";
    private string newDescription = string.Empty;
    private DateTime? _date = DateTime.Today;
    private TimeSpan? _time = DateTime.Now.TimeOfDay;


    protected override async Task OnInitializedAsync()
    {
        // Initialization logic if needed
    }

    private async Task AddItem()
    {
        var apiUrl = NavigationManager.BaseUri + "api/calendarevent";
        var combinedDateTime = _date.HasValue && _time.HasValue 
                ? _date.Value.Date + _time.Value 
                : DateTime.Now;        

        var newEvent = new CalendarEvent
        {
            Title = newTitle != null ? newTitle : "New Title",
            TitleColor = _titleColor,
            Description = newDescription != null ? newDescription : $"Something interesting added at {DateTime.Now}",
            TimeStamp = DateTime.SpecifyKind(combinedDateTime, DateTimeKind.Utc)
        };

        var response = await Http.PostAsJsonAsync(apiUrl, newEvent);
    
        if (response.IsSuccessStatusCode)
        {
            var addedEvent = await response.Content.ReadFromJsonAsync<CalendarEvent>();
            if (addedEvent != null) idOfLastItem = addedEvent.Id;
        }

        NavigationManager.NavigateTo($"/calendarevent/{idOfLastItem}");
    }
}