@page "/carousel"
@using MyApplication.Client.Components
@using MyApplication.Client.Models
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<PageTitle>Carousel</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Carousel</MudText>
<MudText Typo="Typo.body1" GutterBottom="true">Show events around the selected date and time:</MudText>
<div style="max-width:500px">
    <MudGrid>
        <MudItem xs="6">
            <MudDatePicker Label="Date:" Date="@_date" Editable="true" DateFormat="dd-MM-yyyy" DateChanged="DateChanged" />
        </MudItem>
        <MudItem xs="6">
            <MudTimePicker Label="Time:" Time="@_time" Editable="true" TimeChanged="TimeChanged" />
        </MudItem>        
    </MudGrid>
</div>
<br/>
    <MudGrid>
        @{ if (nextEvents.Count == 0)
           {
        <MudItem xs="6">
            <MudAlert Severity="Severity.Info">No upcoming events found for the selected date and time.</MudAlert>
        </MudItem>
           }
           else
           {
        <MudItem xs="6">
            <FocussedEventsCarousel Events="nextEvents" EventsDescription="Next Events"/>
        </MudItem>                
           }
        }
        <MudItem xs="6">
            <FocussedEventsCarousel Events="previousEvents" EventsDescription="Previous Events" />
        </MudItem>        
    </MudGrid>

@inject HttpClient Http
@code {
    private List<CalendarEvent> events = new List<CalendarEvent>();
    private DateTime? _date = DateTime.Today;
    private TimeSpan? _time = DateTime.Now.TimeOfDay;
    private DateTime combinedDateTime => _date.HasValue && _time.HasValue ? _date.Value.Date + _time.Value : DateTime.Now;
    private List<CalendarEvent> nextEvents = new List<CalendarEvent>();
    private List<CalendarEvent> previousEvents = new List<CalendarEvent>();


    protected override async Task OnInitializedAsync()
    {
        var apiUrl = NavigationManager.BaseUri + "api/calendarevent";
        var result = await Http.GetFromJsonAsync<List<CalendarEvent>>(apiUrl);
        if (result != null) 
        {
            events = result;
            FillCarouselsWithEvents();
        }
    }

    private void DateChanged(DateTime? date)
    {
        if (date.HasValue)
        {
            _date = date;
        }
        FillCarouselsWithEvents();
    }

    private void TimeChanged(TimeSpan? time)
    {
        if (time.HasValue)
        {
            _time = time;
        }
        FillCarouselsWithEvents();
    }

    private void FillCarouselsWithEvents()
    {
        if (_date.HasValue && _time.HasValue)
        {
            nextEvents = events.Where(e => e.TimeStamp >= combinedDateTime).Take(5).ToList();

            previousEvents = events.Where(e => e.TimeStamp < combinedDateTime).Reverse().Take(5).ToList();

            Snackbar.Add($"{nextEvents.Count} next events and {previousEvents.Count} previous events", Severity.Info);
        }
    }
}