@page "/CoolGraph"
@using MyApplication.Client.Models
@inject NavigationManager NavigationManager
<h2>Cool Graph about Events</h2>
<MudText Class="mb-8">This shows how events are decided over the months (regardless of year) and how they vary from simple to complete</MudText>

<MudPaper Class="doc-section-component-container">
    <MudChart ChartType="ChartType.StackedBar" ChartSeries="@Series" XAxisLabels="@XAxisLabels" ChartOptions="@ChartOptions" ></MudChart>
</MudPaper>

@inject HttpClient Http
@code {
    public List<ChartSeries> Series = new List<ChartSeries>()
    {
        new() { Name = "Fake", Data = new double[] { 40, 20, 25, 27, 46, 46, 48, 44, 15, 11, 11, 11 } },
        new() { Name = "Data", Data = new double[] { 19, 24, 35, 13, 28, 15, 13, 16, 40, 11, 11, 11 } },
        new() { Name = "Prefilled", Data = new double[] { 8, 6, 11, 13, 4, 16, 10, 16, 20, 11, 11, 11 } },
    };
    public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" };

    public ChartOptions ChartOptions = new ChartOptions
    { ChartPalette = new string[]
        {
            "#fefb97", //yellow
            "#f3ae3d", //orange 
            "#86b953", //green
            "#2660f5" //blue
            //#aa395d //bordeaux
        }
    };

    protected override async Task OnInitializedAsync()
    {
        var simpleEvents = new double[12];
        var simpleWithImageEvents = new double[12];
        var detailedEvents = new double[12];
        var completeEvents = new double[12];

        var result = await Http.GetFromJsonAsync<List<CalendarEvent>>("api/calendarevent");

        if (result != null)
        {
            foreach (var calendarEvent in result)
            {
                if (string.IsNullOrEmpty(calendarEvent.ImageFilePath))
                {
                    if (calendarEvent.Title.Length < 5 || calendarEvent.Description.Length < 5)
                    {
                        simpleEvents[calendarEvent.TimeStamp.Month - 1]++;
                    }
                    else
                    {
                        detailedEvents[calendarEvent.TimeStamp.Month - 1]++;
                    }
                }
                else
                {
                    if (calendarEvent.Title.Length < 5 || calendarEvent.Description.Length < 5)
                    {
                        simpleWithImageEvents[calendarEvent.TimeStamp.Month - 1]++;
                    }
                    else
                    {
                        completeEvents[calendarEvent.TimeStamp.Month - 1]++;
                    }
                }
            }
        }
        
        Series =
        [
            new() { Name = "Simple", Data = simpleEvents },
            new() { Name = "Detailed", Data = detailedEvents },
            new() { Name = "Image", Data = simpleWithImageEvents },
            new() { Name = "Complete", Data = completeEvents }
        ];
    }
}